# OS
.DS_Store

# Compiler files
cache/
cache_hardhat/
out/


# Dotenv file
.env

# Node modules
node_modules

# Hardhat
.hardhat
coverage.json

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Coverage
coverage
lcov.info

# Artifacts
artifacts/

# Testing
contracts-exposed/

# Solidity
soljson*

yarn-error.log
yarn.lock
