[submodule "account-abstraction"]
	path = account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "lib/solarray"]
	path = lib/solarray
	url = https://github.com/evmcheb/solarray
